# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.env
*.log
*.pid
*.seed
*.pid.lock
*.sqlite3
*.db

# Uploads
backend/uploads/
*.jpg
*.jpeg
*.png
*.gif

# Fichiers de test
test_*.py
test_*.db
*.test.py

# Flutter / Mobile
*.iml
*.ipr
*.iws
.idea/
.gradle/
gradle/
local.properties
*.lock
*.log
*.tmp
*.swp
*.swo
.DS_Store
*.aab
*.apk
*.ipa
*.dSYM.zip
*.framework.zip
*.xcarchive
*.snapshot
*.dart_tool/
.pub/
.pub-cache/
build/
*.flutter-plugins
*.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh
ios/Podfile
ios/Podfile.lock
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
macos/
android/.gradle
android/local.properties
.vscode/
*.swp
*.swo

# Autres
.DS_Store
Thumbs.db
*.log
*.tmp
backend/ml/best_resnet18_augmented_old.pth
mobile/linux/
mobile/windows/
